apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: dvn-nov-gitops
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/kenerry-serain/dvn-workshop-nov-dia-2-gitops.git
    targetRevision: HEAD
    path: .
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      selfHeal: true